/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /*font-family: "Oxygen", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
  color: #444444;
}

a:hover {
  text-decoration: none;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #009FFF;
    z-index: 11000;
    position: fixed;
    display: block;
}

.pulse {
  height: 150px;
  width: 200px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.pulse:after {
  content: '';
  display: block;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200px 100px" enable-background="new 0 0 200px 100px" xml:space="preserve"><polyline fill="none" stroke-width="3px" stroke="white" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation: 2s pulse linear infinite;
  animation: 2s pulse linear infinite;
    clip: rect(0, 0, 100px, 0);
}
.pulse:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 2px;
  right: 2px;
  bottom: 0;
  top: 16px;
  margin: auto;
  height: 3px;

}


@-webkit-keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
    opacity: 0.4;
  }
  4% {
    clip: rect(0, 66.66667px, 100px, 0);
    opacity: 0.6;
  }
  15% {
    clip: rect(0, 133.33333px, 100px, 0);
    opacity: 0.8;
  }
  20% {
    clip: rect(0, 300px, 100px, 0);
     opacity: 1;
  }

  80% {
    clip: rect(0, 300px, 100px, 0);
     opacity:0;
  }

  90% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0;
  }

  100% {
    clip: rect(0, 300px, 100px, 0);
    opacity:0;
 }
}
@keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
  }
  4% {
    clip: rect(0, 66.66667px, 100px, 0);
  }
  15% {
    clip: rect(0, 133.33333px, 100px, 0);
  }
  20% {
    clip: rect(0, 300px, 100px, 0);
     opacity:1;
  }

  80% {
    clip: rect(0, 300px, 100px, 0);
     opacity:0;
  }

  90% {
    opacity: 0;
  }

  100% {
    clip: rect(0, 300px, 100px, 0);
    opacity:0;
 }
  
}

.pulse {
  text-align : center;
}
.pulse i{
  color: #ffffff;
  font-size: 38px;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  width: 50px;
  height: 50px;
  background-color: black;
  transform: rotate(45deg);
}

.back-to-top a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background: #009FFF;
  transition: all 0.4s;
  cursor: pointer;
}

.back-to-top a span{
  color: #fff;
  transform: rotate(-45deg);
}

.back-to-top a:hover {
  transform: translate3d(-10px, -10px, 0px);
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #f2fdff;
  padding: 15px 0 10px;
  font-size: 14px;
}

#topbar .mylogo h1{
  font-size: 42px;
  font-weight: 900;
  color: #009FFF;
  margin: 0;
  padding: 0;
}

#topbar .mylogo h1 span{
}

#topbar .mylogo h1 span:nth-child(1){
  color: red;
}

#topbar .mylogo h1 span:nth-child(2){
  color: green;
}

#topbar .mylogo h1 span:nth-child(3){
  color: darkyellow;
}

#topbar .mylogo h1 span:nth-child(4){
  color: blue;
}

#topbar .contact-info a {
  display: inline-flex;
}

#topbar .contact-info a img{
  max-height: 50px;
  margin-right: 12px;
  float: left !important;
}

#topbar .contact-info a h5{
  font-weight: 800;
}

#topbar .contact-info a h5 span{
  font-weight: 400;
  font-size: 15px;
}

#topbar .contact-info a:first-child {
  margin-right: 40px;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 50px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #009FFF;
}

#header.header-scrolled {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

@media(max-width: 767px){
  #header {
    height: 0;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  #header {
    height: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  padding: 5px 15px;
  transition: 0.3s;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #354144;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  background-color: #009FFF;
  color: #fff;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #354144;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #009FFF;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(31, 38, 39, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 10px;
  z-index: 9998;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  background: #009FFF;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
  font-size: 28px;
}

.mobile-nav-active .mobile-nav-toggle i {
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding: 0;
}

#hero .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .carousel-content {
  text-align: center;
  padding: 40px 80px;
}

#hero h2 {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 900;
}

#hero p {
  font-size: 20px;
  line-height: 30px;
  width: 50%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin-bottom: 30px;
}

#hero .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 18px 38px;
  border-radius: 5px;
  transition: 0.5s;
  line-height: 1;
  text-transform: uppercase;
  margin: 10px;
  color: #fff;
  background: #009FFF;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

#hero .btn-get-started:hover {
  background: #019cbe;
  border-radius: 10rem;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .carousel-indicators li {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 4px;
  transition: ease-in;
  opacity: .7;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background-color: #009FFF;
}

@media (max-width: 767px) {
  #hero .carousel-content {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 25px 15px;
    position: absolute;
    bottom: 0;
  }

  #hero h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 800;
  }

  #hero p {
    font-size: 16px;
    line-height: 27px;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  #hero .carousel-content {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 30px 20px;
    position: absolute;
    bottom: 0;
  }

  #hero h2 {
    margin-bottom: 25px;
    font-size: 32px;
  }

  #hero p {
    font-size: 18px;
    line-height: 28px;
    width: 100%;
    margin-bottom: 25px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
main{overflow: hidden;}

section {
  padding: 60px 0;
}

.section-bg {
  background-color: rgba(0, 159, 255, 0.7);
}

.medicalmedia,
.socialmedia,
.aboutus,
.counting{
  background-color: #f2fdff;
}

.section-title {
  text-align: center;
}

.section-title span {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: yellow;
}

.aboutus .section-title span,
.socialmedia .section-title span,
.medicalmedia .section-title span{
  color: #009FFF;
}

.section-title h2 {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  word-spacing: 5px;
  margin-top: 5px;
  margin-bottom: 60px;
  color: rgba(0, 0, 0, 0.7);
}

.aboutus .section-title h2,
.socialmedia .section-title h2,
.medicalmedia .section-title h2{
  color: #000;
}

@media(max-width: 767px){
  section {
    padding: 30px 0;
  }
  .section-title span {
    font-size: 16px;
  }
  .section-title h2 {
    font-size: 24px;
    letter-spacing: 1.1px;
    word-spacing: 4px;
    margin-bottom: 30px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  section {
    padding: 50px 0;
  }
  .section-title h2 {
    margin-bottom: 50px;
  }
}

/*--------------------------------------------------------------
# Strips
--------------------------------------------------------------*/
.strips{
  padding: 0 0;
}

.strips svg{
  fill: cyan;
  width: 100%;
  height: 100px;
}

#strip1 svg{
  background-color: #f2fdff;
}

.strip-content{
  position: relative;
  background-color: cyan;
  text-align: center;
}

.strip-content h3{
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  word-spacing: 4px;
  padding: 5px 10px 20px;
  margin-top: -8px;
  animation: stripanimate 2s linear infinite;
}

@keyframes stripanimate {
  0% {
    transform: scale(0.9) translateY(0);
  }
  20% {
    transform: scale(0.9) translateY(-10px);
  }
  30% {
    transform: scale(0.9) translateY(10px);
  }
  50% {
    transform: scale(1.0) translateY(-10px);
  }
  60% {
    transform: scale(1.0) translateY(10px);
  }
  100% {
    transform: scale(0.9) translateY(0);
  }
}

.strip-btn{
  position: absolute;
  top: 0;
  bottom: 18px;
}

.strip-btn img{
  max-height: 50px;
  animation: strip-arrow 2s linear infinite;
}

@keyframes strip-arrow {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.btn1{
  left: 15px;
  transform: rotate(180deg);
}

.btn2{
  right: 15px;
}

@media(max-width: 767px){
  .strip-content h3{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1.1px;
    padding: 0 5px 10px;
    margin-top: -5px;
    animation: none;
  }
  .strip-btn{
    top: auto;
    bottom: 5px;
  }

  .strip-btn img{
    max-height: 25px;
    animation: none;
  }

  .btn1{
    left: 10px;
  }

  .btn2{
    right: 10px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .strip-content h3{
    font-size: 22px;
    line-height: 32px;
    padding: 0 10px 10px;
    margin-top: -5px;
    animation: none;
  }
  .strip-btn{
    top: auto;
    bottom: -50px;
  }

  .strip-btn img{
    max-height: 35px;
    animation: none;
  }

  .btn1{
    left: 15px;
  }

  .btn2{
    right: 15px;
  }
}

/*--------------------------------------------------------------
# Tooltip
--------------------------------------------------------------*/
.tooltip-inner {
  max-width: 100%;
  padding: 10px 15px;
  text-align: center;
  border: 3px solid #009FFF;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1.1px;
  word-spacing: 3px;
  text-transform: uppercase;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, 
.bs-tooltip-top .arrow::before {
  border-width: 14px 10px 0;
  border-top-color: #009FFF;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, 
.bs-tooltip-bottom .arrow::before {
  border-width: 0 10px 14px;
  border-bottom-color: #009FFF;
}

@media(max-width: 767px){
  .tooltip-inner {
    max-width: 90%;
    padding: 7px 12px;
    border: 2px solid #009FFF;
    font-size: 16px;
    margin: 0 auto;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .tooltip{
    width: 70%;
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about-left ul{
  list-style: none;
  padding-left: 0;
}

.about-left ul li{
  background-color: #009FFF;
  padding: 25px;
  margin-bottom: 25px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.about-left ul li a{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.about-left ul li a i{
  float: right;
}

.about-item{
  background-color: #fff;
  text-align: center;
  margin: 0 20px 15px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.about-content{
  padding: 20px;
  min-height: 240px;
}

.about-content h4{
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-content p{
  font-size: 18px;
  line-height: 28px;
}

@media(max-width: 767px){
  .about-left ul li{
    padding: 15px;
    margin-bottom: 15px;
  }

  .about-left ul li a{
    font-size: 18px;
  }

  .about-item{
    margin: 30px 20px 0;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .about-left ul li{
    padding: 20px;
    margin-bottom: 20px;
  }

  .about-item{
    margin: 30px 20px 0;
  }
}

/*--------------------------------------------------------------
# Counters
--------------------------------------------------------------*/
.count-left span{
  text-transform: uppercase;
}

.count-left h3{
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 10px;
}

.count-left p{
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.call-box{
  width: 80px;
  height: 80px;
  padding: 5px;
  float: left;
  margin-right: 15px;
}

.call-box img{
  max-height: 70px;
}

.count-call h5{
  font-weight: 800;
  padding-top: 10px;
}

.count-box{
  width: 100%;
  padding: 30px;
  text-align: center;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.count-box img{
  max-height: 70px;
}

.count-box span{
  font-weight: 700;
  font-size: 42px;
  color: #fff;

}

.count-box p{
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  font-weight: 500;
}

@media(max-width: 767px){
  .count-left h3{
    font-size: 28px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .count-left h3{
    font-size: 36px;
  }
}

/*--------------------------------------------------------------
# Resources
--------------------------------------------------------------*/
.resource-block{
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.resource-item {
    position: relative;
    float: left;
    overflow: hidden;
    height: auto;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.resource-item:hover {
    background: #0a0a0a;
}

.resource-item img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
    margin: -10px 0 0 -10px;
    max-width: none;
    width: -webkit-calc(100% + 10px);
    width: calc(100% + 10px);
    opacity: 0.9;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(10px,10px,0);
    transform: translate3d(10px,10px,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.resource-item:hover img {
    opacity: 0.8;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.resource-item h4{
  position: absolute;
  top: 0;
  left: 0;
  background-color: darkcyan;
  color: #fff;
  padding: 15px 20px;
}

.resource-item .resource-desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em;
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.resource-item p {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 16px;
    padding: 0 1.5em .3em 0;
    width: 160px;
    text-align: right;
    opacity: 0;
    -webkit-transform: translate3d(20px,20px,0);
    transform: translate3d(20px,20px,0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.resource-item:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.resource-item .resource-desc::before {
    position: absolute;
    right: -100px;
    bottom: -100px;
    width: 300px;
    height: 300px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 900px rgba(255,255,255,0.2);
    content: '';
    opacity: 0;
    -webkit-transform: scale3d(0.5,0.5,1);
    transform: scale3d(0.5,0.5,1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.resource-item:hover .resource-desc::before {
    background: rgba(0,0,0,0.7);
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

.resource-item .resource-desc::before, 
.resource-item .resource-desc::after {
    pointer-events: none;
}

.resource-btn{
  position: absolute;
  bottom: 20px;
  left: -300px;
  transition: all 0.5s ease-in-out;
}

.resource-block:hover .resource-btn{
  left: 30px;
}

.resource-btn a img{
  max-height: 50px;
}

@media(max-width: 767px){
  .resource-block{
    margin-bottom: 20px;
  }

  .resource-item h4{
    font-size: 18px;
    padding: 10px 10px;
  }

  .resource-btn{
    bottom: 10px;
  }

  .resource-block:hover .resource-btn{
    left: 25px;
  }

  .resource-btn a img{
    max-height: 30px;
  }
}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.service-container{
  background-color: #009FFF;
}

.service-block{
  width: 85%;
  margin: 0 auto;
}

.service-item{
  background-color: #fff;
}

.service-left{
  padding: 60px 25px;
  background-color: pink;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-left .service-icon{
  width: 100px;
  height: 120px;
}

.service-left h4{
  color: #000;
  font-weight: 800;
}

.service-right{
  padding: 40px 15px;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-right p{
  font-size: 18px;
  line-height: 28px;
}

.service-carousel .owl-item {
  float: left;
}

.service-carousel{
  position: relative;
  overflow: hidden;
}

.service-carousel .owl-nav{
}

.service-carousel .owl-nav .owl-prev{
  position: absolute;
  top: calc(50% - 25px);
  left: 10px;
}

.service-carousel .owl-nav .owl-next{
  position: absolute;
  top: calc(50% - 25px);
  right: 10px;
}

.service-carousel .owl-nav .owl-prev,
.service-carousel .owl-nav .owl-next{
  background-color: #fff;
  width: 50px;
  height: 50px;
  color: #009FFF;
  font-size: 32px;
  font-weight: 800;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 767px){
  .service-left{
    padding: 30px 15px;
  }

  .service-right{
    padding: 20px 15px;
  }
  .service-block{
    width: 100%;
  }

  .service-carousel{
    padding-bottom: 80px;
  }

  .service-carousel .owl-nav .owl-prev{
    top: auto;
    bottom: 0;
    left: 0;
  }

  .service-carousel .owl-nav .owl-next{
    top: auto;
    bottom: 0;
    right: 0;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .service-left{
    padding: 30px 20px;
  }

  .service-right{
    padding: 25px 20px;
  }
  .service-carousel .owl-nav .owl-prev{
    left: 0;
  }

  .service-carousel .owl-nav .owl-next{
    right: 0;
  }
}

/*--------------------------------------------------------------
# Insurance
--------------------------------------------------------------*/
.insurance-item .col-lg-4{
  padding: 0 0;
}

.insurance-item{
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.35);
  background-color: #fff;
}

.insurance-box{
  height: 140px;
  padding:20px 15px;
  text-align: center;
}

.insurance-box img{
  max-height: 100px;
}

.insurance-carousel .owl-item {
  float: left;
}

.insurance-carousel{
  overflow: hidden;
  position: relative;
  padding-bottom: 80px;
}

.insurance-carousel .owl-nav{
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.insurance-carousel .owl-nav .owl-prev{
  margin-right: 15px;  
}

.insurance-carousel .owl-nav .owl-next{
}

.insurance-carousel .owl-nav .owl-prev,
.insurance-carousel .owl-nav .owl-next{
  background-color: #fff;
  width: 50px;
  height: 50px;
  color: #009FFF;
  font-size: 32px;
  font-weight: 800;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Recent Blogs
--------------------------------------------------------------*/
.recentblogs-item{
  background-color: #fff;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.recentblogs-btn{
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: all 0.5s ease-in-out;
}

.recentblogs-item:hover .recentblogs-btn{
  right: 20px;
}

.recentblogs-btn a{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recentblogs-btn a img{
  max-height: 50px;
}

.recentblogs-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.recentblogs-content{
  padding: 20px;
}

.recentblogs-content h4{
  font-weight: 800;
}

.recentblogs-content p{
  font-size: 18px;
  line-height: 28px;
}

.recentblogs-author img{
  max-height: 50px;
  float: left;
  margin-right: 15px;
}

.recentblogs-author h5{
  font-weight: 800;
}

@media(max-width: 767px){
  .recentblogs-item{
    margin-bottom: 25px;
  }
  .recentblogs-content{
    padding: 20px 20px 20px 30px;
  }

  .recentblogs-btn a img{
    max-height: 40px;
  }
}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Doctors
--------------------------------------------------------------*/
.doctor-item{
  background-color: #fff;
  margin-bottom: 30px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.doctor-item .doctor-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctor-item .doctor-content{
  padding: 20px 15px 20px 0;
}

.doctor-item .doctor-content h4{
  font-weight: 800;
}

.doctor-item .doctor-content span{
  font-style: italic;
}

.doctor-item .doctor-content p{
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 18px;
}

.doctor-social{
  list-style: none;
  display: flex;
}

.doctor-social li{

}

.doctor-social li a{
  padding: 10px 12px;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 24px;
  border: 2px solid #009FFF;
}

.doctor-social li a:hover{
  background-color: #009fff;
  color: #fff;
}

@media(max-width: 767px){
  .doctor-item .doctor-content{
    padding: 20px 20px;
    text-align: center;
  }

  .doctor-social{
    justify-content: center;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .doctor-item .doctor-content{
    padding: 20px 20px;
    text-align: center;
  }

  .doctor-social{
    justify-content: center;
  }
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: #fff;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 28px;
  font-weight: 800;
  padding: 0 30px 0 45px;
  outline: none;
}

.faq .faq-list .icon-help {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  left: 20px;
}

.faq .faq-list .icon-show, .faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 0;
  padding: 15px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #ff7f5d;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonial-item{
  width: 65%;
  margin: 0 auto;
  overflow: hidden !important;
  text-align: center;
}

.testimonial-author{
  width: 90px;
  height: 90px;
  margin: 10px auto -30px;
}

.testimonial-author img{
  border-radius: 50%;
  border: 5px solid #009FFF;
}

.testimonial-authordetail h5{
  font-weight: 800;
  margin-top: 20px;
}

.testimonial-authordetail span{
}

.testimonial-content{
  background-color: #fff;
  display: flex;
  padding: 40px 20px 20px;
  text-align: center;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.35);
  border-radius: 30px;
  border: 5px solid #009FFF;
}

.testimonial-content p{
  font-size: 22px;
  font-weight: 600;
  color: #009FFF;
  height: 170px;
  overflow-y: scroll;
}

.testimonial-content p::-webkit-scrollbar{
  width: 0;
}

.testimonial-content p .quote-left{
  max-height: 30px !important;
  width: 30px !important;
  margin-right: 5px;
  margin-top: -20px;
  transform: rotate(180deg);
}

.testimonial-content p .quote-right{
  max-height: 30px !important;
  width: 30px !important;
  margin-left: 5px;
  margin-bottom: -20px;
}

.quote-left,
.quote-right{
  height: 80px !important;
  width: 80px !important;
}

.quote-left img,
.quote-right img{
  max-height: 30px !important;
  width: 30px !important;
}

.testimonial-carousel .owl-item {
  float: left;
}

.testimonial-carousel{
  overflow: hidden;
  position: relative;
}

.testimonial-carousel .owl-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.testimonial-carousel .owl-nav .owl-prev{
  position: absolute;
  left: 40px;
  bottom: 50%;
}

.testimonial-carousel .owl-nav .owl-next{
  position: absolute;
  right: 40px;
  bottom: 50%;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next{
  background-color: #fff;
  width: 50px;
  height: 50px;
  color: #009FFF;
  font-size: 28px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px){
  .testimonial-item{
    width: 100%;
  }

  .testimonial-carousel .owl-nav .owl-prev{
    left: 0;
    bottom: 0;
  }

  .testimonial-carousel .owl-nav .owl-next{
    right: 0;
    bottom: 0;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .testimonial-item{
    width: calc(100% - 140px);
  }

  .testimonial-carousel .owl-nav .owl-prev{
    left: 0;
  }

  .testimonial-carousel .owl-nav .owl-next{
    right: 0;
  }
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact-item{
  margin-bottom: 40px;
}

.contact-item img{
  max-height: 70px;
  float: left;
  margin-right: 10px;
}

.contact-item h5{
  font-weight: 800;
  padding-top: 15px;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Social Media
--------------------------------------------------------------*/
.social-block{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Medical Media
--------------------------------------------------------------*/
.medical-box{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 140px;
}

@media(max-width: 767px){
  .medical-box{
    padding: 15px;
    min-height: auto;
  }
}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #2f1708;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

@media(max-width: 767px){
  #footer {
    padding: 15px 0;
    margin-left: 0;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  #footer {
    padding: 20px 0;
    margin-left: 0;
  }
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# All Blogs
--------------------------------------------------------------*/
.myblog-img{
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.35);
  position: relative;
}

.blog-eye{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  opacity: 0;
  background: rgba(213, 21, 224, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.blog-eye a i{
  color: #fff;
  font-weight: 700;
  font-size: 48px;
}

.myblog-img:hover .blog-eye{
  height: 100%;
  opacity: 1;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Blog Detail
--------------------------------------------------------------*/
.blog-single-btn{
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  line-height: 1;
  letter-spacing: 1px;
  display: inline-block;
  color: #fff;
  background: #009FFF;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.blog-single-btn:hover{
  color: #fff;
}

.blog .entry {
  padding: 20px;
  margin-bottom: 60px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.blog .entry .entry-img {
  max-height: 400px;
  margin: -20px -20px 20px -20px;
  overflow: hidden;
}

.blog .entry .entry-title {
  font-size: 22px;
  font-weight: 800;
  padding: 0;
  margin: 0 0 20px 0;
}

.blog .entry .entry-title a {
  transition: all 0.5s ease-in-out;
}

.blog .entry .entry-title a:hover {
  color: #009FFF;
}

.blog .entry .entry-meta {
  margin-bottom: 15px;
}

.blog .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.blog .entry .entry-meta ul li + li {
  padding-left: 20px;
}

.blog .entry .entry-meta i {
  font-size: 15px;
  padding-right: 4px;
  color: #009FFF;
}

.blog .entry .entry-meta a {
  font-size: 15px;
  display: inline-block;
  line-height: 1;
}

.blog .entry .entry-content p {
  line-height: 28px;
  font-size: 18px;
}

.blog .entry .entry-content ul{
  list-style: none;
  padding-left: 0px;
}

.blog .entry .entry-content ul li{
   font-size: 18px;
   line-height: 26px;
   margin-bottom: 16px;
}

.blog .entry .entry-content ul li i{
  color: #009FFF;
  font-size: 22px;
  margin-right: 5px;
}

.blog .entry .entry-content .read-more {
}

.blog .entry .entry-content .read-more a {
  padding: 18px 32px;
}

/* comments */

.blog .blog-comments {
  margin-bottom: 30px;
}

.blog .blog-comments .comments-count {
  font-weight: bold;
}

.blog .blog-comments .comment {
  margin-top: 30px;
  position: relative;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.blog .blog-comments h4{
}

.blog .blog-comments .comment .comment-img {
  width: 60px;
  margin-right: 10px;
}

.blog .blog-comments .comment h5 {
  margin-left: 65px;
  font-size: 16px;
  margin-bottom: 2px;
}

.blog .blog-comments .comment h5 a {
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.blog .blog-comments .comment h5 a:hover {
  color: #009FFF;
}

.blog .blog-comments .comment h5 .reply {
  padding-left: 10px;
}

.blog .blog-comments .comment time {
  margin-left: 65px;
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.blog .blog-comments .comment p {
  margin-left: 65px;
}

.blog .blog-comments .comment.comment-reply {
  padding-left: 40px;
}

.blog .blog-comments .reply-form {
  margin-top: 30px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.blog .blog-comments .reply-form h4 {
  font-weight: bold;
  font-size: 22px;
}

.blog .blog-comments .reply-form p {
  font-size: 14px;
}

.blog .blog-comments .reply-form input {
  border-radius: 0;
  padding: 20px 10px;
  font-size: 14px;
}

.blog .blog-comments .reply-form input:focus {
  box-shadow: none;
  border-color: #009FFF;
}

.blog .blog-comments .reply-form textarea {
  border-radius: 0;
  padding: 10px 10px;
  font-size: 14px;
}

.blog .blog-comments .reply-form textarea:focus {
  box-shadow: none;
  border-color: #009FFF;
}

.blog .blog-comments .reply-form .form-group {
  margin-bottom: 25px;
}

.blog .blog-comments .reply-form .blog-detailbtn {
  padding: 14px 30px;
  border: none;
}

.blog .blog-pagination {
}

.blog .blog-pagination ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.blog .blog-pagination li {
  border: 1px solid #009FFF;
  margin: 0 5px;
  transition: all 0.5s ease-in-out;
  background-color: #fff;
}

.blog .blog-pagination li.active {
  background: #009FFF;
}

.blog .blog-pagination li a {
  color: #009FFF;
  font-weight: bold;
  padding: 7px 16px;
  display: inline-block;
}

.blog .blog-pagination li.active, .blog .blog-pagination li:hover {
  background: #009FFF;
  border: 1px solid #009FFF;
}

.blog .blog-pagination li.active a, .blog .blog-pagination li:hover a {
  color: #fff;
}

.blog .blog-pagination li.disabled {
  background: #fff;
  border: 1px solid white;
}

.blog .blog-pagination li.disabled i {
  color: #f1f1f1;
  padding: 10px 16px;
  display: inline-block;
}

.blog .sidebar {
  margin: 0 0 60px 0;
}

.blog .blog-author {
  padding: 20px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.35);
  text-align: center;
}

.blog .blog-author img {
  width: 120px;
  margin-bottom: 15px;
}

.blog .blog-author h4 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
}

.blog .blog-author .social-links {
  margin: 0 0 5px 0px;
}

.blog .blog-author .social-links a {
  color: #009FFF;
}

.blog .sidebar .sidebar-title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px;
  background-color: #009FFF;
  margin: 0 0 0 0;
  color: #fff;
  text-align: center;
  letter-spacing: 1.4px;
  position: relative;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.blog .sidebar .sidebar-title i{
  display: none;
}

.blog .sidebar .sidebar-item {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.blog .sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .categories ul li + li {
  padding-top: 10px;
}

.blog .sidebar .categories ul a {
  color: #009FFF;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #009FFF;
  display: block;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.blog .sidebar .categories ul a:hover {
  background-color: #009FFF;
  color: #fff;
}

.blog .sidebar .categories ul a span {
  padding-left: 5px;
  font-size: 14px;
}

.blog .sidebar .recent-posts .post-item + .post-item {
  margin-top: 15px;
}

.blog .sidebar .recent-posts img {
  width: 80px;
  float: left;
}

.blog .sidebar .recent-posts h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
  transition: all 0.5s ease-in-out;
}

.blog .sidebar .recent-posts h4 a:hover {
  color: #009FFF;
}

.blog .sidebar .recent-posts time {
  display: block;
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
}

.blog .sidebar .tags {
}

.blog .sidebar .tags ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .tags ul li {
  display: block;
}

.blog .sidebar .tags ul a {
  color: #009FFF;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #009FFF;
  display: block;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.blog .sidebar .tags ul a:hover {
  color: #fff;
  background: #009FFF;
}

.blog .sidebar .tags ul a span {
  padding-left: 5px;
  font-size: 14px;
}

.btn-toolbar button{
  margin-right: 10px;
  padding: 12px 20px;
  font-size: 20px;
} 

.btn-toolbar .facebook{
  background-color: #3B5998;
}

.btn-toolbar .twitter{
  background-color: #55ACEE;
}

.btn-toolbar .instagram{
  background-color: #125688;
}

.btn-toolbar .linkedin{
  background-color: #007bb5;
}

.btn-toolbar button a{
  color: #fff;
}

@media(max-width: 767px){
  .blog .entry {
    margin-bottom: 20px;
  }
  .blog .entry-title{
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .blog .blog-pagination {
    margin-bottom: 40px;
  }
  .blog .sidebar .sidebar-item {
    margin-bottom: 20px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .blog .blog-pagination {
    margin-bottom: 50px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0 10px;
  background-color: #009FFF;
}

.breadcrumbs h2 {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #fff;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  font-size: 18px;
  float: right;
}

.breadcrumbs ol li,.breadcrumbs ol li a{
  color: #fff;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #fff;
  content: "|";
}

@media (max-width: 767px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs h2 {
    font-size: 28px;
  }

  .breadcrumbs{
    text-align: center;
  }

  .breadcrumbs ol{
    float: none;
    justify-content: center;
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .breadcrumbs{
    text-align: center;
  }

  .breadcrumbs ol{
    float: none;
    justify-content: center;
  }
}